# Python bytecode
__pycache__/
*.pyc

# Virtual environment
env_panteha/

# VS Code settings
.vscode/

# Test output
tiff_test_output/

# Depletion plots
depletion_plots/

# perpendicular plots
perpendicular_plots/

# tiff test output
tiff_test_output/